<div id="hero" class="static-header window-height light-text hero-section clickthrough-version clearfix">
	<div class="overlay"></div>
	<div class="heading-block align-center centered-block">
		<div class="container">
			<div class="animated" data-animation="fadeIn" data-duartion="500">
				<h2>Working together to <b class="highlight">Empower Detriot!</b></h2>
				<p class="sub-title">Detriot Civic Technology &mdash; we belive that though <b class="highlight">Technology & Education</b> we can make <b class="highlight">Detriot Better!</b></p>
			</div>
			<div class="animated" data-animation="fadeInUp" data-duartion="500" data-delay="200">
				<a href="#" class="btn btn-outline ">Get started</a><a href="#" class="btn btn-no-border ">Take tour</a>
			</div>
		</div>
	</div>
</div>
