<section id="about" class="section about-section align-center dark-text <%= css %>">
	<div class="container">

		<ul class="nav nav-pills alt">
			<li class="active"><a href="#first-pill-alt" data-toggle="pill">FIRST TAB</a></li>
			<li><a href="#second-pill-alt" data-toggle="pill">SECOND TAB</a></li>
			<li><a href="#third-pill-alt" data-toggle="pill">THIRD TAB</a></li>
		</ul>
    <hr>
		<div class="tab-content alt">
			<div class="tab-pane active" id="first-pill-alt">
				<div class="section-content row">
					<div class="col-sm-6 animated" data-delay="200" data-duration="700" data-animation="fadeInLeft">
						<img src="assets/img/features/people.jpg" class="img-responsive" alt="process 3" />
					</div>
					<div class="col-sm-6 animated" data-delay="200" data-duration="700" data-animation="fadeInRight">
						<br/>
						<article class="align-center">
							<h3>FOR EVERY <span class="highlight">STARTUP</span></h3>
							<p class="sub-title">Lorem ipsum dolor sit atmet sit dolor greand fdanrh<br/> sdfs sit atmet sit dolor greand fdanrh sdfs</p>
							<p>In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur, quam non erat mirum sapientiae lorem cupido patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.</p>
							<br/>
							<a href="#" class="btn btn-outline-color">Get template</a>
							<a href="#" class="btn btn-outline-color">See elements</a>
						</article>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="second-pill-alt">
				<div class="section-content row">
					<div class="col-sm-6 pull-right animated" data-delay="200" data-duration="700" data-animation="fadeInRight">
						<img src="assets/img/features/phone.jpg" class="img-responsive pull-right" alt="process 2" />
					</div>
					<div class="col-sm-6 animated" data-delay="200" data-duration="700" data-animation="fadeInLeft">
						<br/><br/>
						<article class="align-center">
							<h3>NEW AGE <span class="highlight">TECHNOLOGY</span></h3>
							<p class="sub-title">Lorem ipsum dolor sit atmet sit dolor greand fdanrh<br/> sdfs sit atmet sit dolor greand fdanrh sdfs</p>
							<p>In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur, quam non erat mirum sapientiae lorem cupido patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.</p>
						</article>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="third-pill-alt">
				<div class="section-header align-center">
					<h2>3 EASY STEPS</h2>
					<p class="sub-header animated" data-duration="700" data-animation="zoomIn">
						Lorem ipsum dolor sit atmet sit dolor greand fdanrh s
						<br />dfs sit atmet sit dolor greand fdanrh sdfs
					</p>
				</div>
				<div class="section-content row animated" data-duration="700" data-delay="200" data-animation="fadeInDown">
					<div class="col-sm-4">
						<article class="align-center">
							<i class="howitworks icon icon-shopping-04 highlight"></i>
							<span class="heading">PLACE ORDER</span>
							<p class="thin" >Sit amet, consectetur adipiscing elit.<br />In hac divisione rem ipsam prorsus probo<br />elegantiam desidero.</p>
						</article>
						<!--<span class="icon icon-arrows-04"></span>-->
					</div>
					<div class="col-sm-4">
						<article class="align-center">
							<i class="howitworks icon icon-seo-icons-03 highlight"></i>
							<span class="heading">OUR SYSTEM RUNS</span>
							<p class="thin" >Sit amet, consectetur adipiscing elit.<br />In hac divisione rem ipsam prorsus probo<br />elegantiam desidero.</p>
						</article>
						<!--<span class="icon icon-arrows-04"></span>-->
					</div>
					<div class="col-sm-4">
						<article class="align-center">
							<i class="howitworks icon icon-seo-icons-05 highlight"></i>
							<span class="heading">RECEIVE REPORT</span>
							<p class="thin" >Sit amet, consectetur adipiscing elit.<br />In hac divisione rem ipsam prorsus probo<br />elegantiam desidero.</p>
						</article>
					</div>
				</div>
				<br/>
				<br/>
			</div>
		</div>
	</div>
</section>
