<section id="features" class="section features-section align-center inverted <%= css %>">
	<div class="container">
		<div class="section-content">
			<div class="featured-tab">
				<ul class="list-unstyled">
					<li class="active">
						<a href="#home" data-toggle="tab">
							<div class="tab-info">
								<div class="tab-title">Lorem Dolor</div>
								<div class="tab-desc">Sit amet, consectetur adipiscing elit<br />hac divisione rem ipsam prorsus</div>
							</div>
							<!--<div class="tab-icon"><span class="icon icon-multimedia-20"></span></div>-->
						</a>
					</li>
					<li>
						<a href="#profile" data-toggle="tab">
							<div class="tab-info">
								<div class="tab-title">Lorem Dolor</div>
								<div class="tab-desc">Sit amet, consectetur adipiscing elit<br />hac divisione rem ipsam prorsus</div>
							</div>
							<!--<div class="tab-icon"><span class="icon icon-seo-icons-27"></span></div>-->
						</a>
					</li>
					<li>
						<a href="#messages" data-toggle="tab">
							<div class="tab-info">
								<div class="tab-title">Lorem Dolor</div>
								<div class="tab-desc">Sit amet, consectetur adipiscing elit<br />hac divisione rem ipsam prorsus</div>
							</div>
							<!-- <div class="tab-icon"><span class="icon icon-seo-icons-28"></span></div>-->
						</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane in active" id="home"><img src="assets/img/features/rich_features_1.png" class="img-responsive animated" data-duration="900" data-animation="flip3dInTop" alt="macbook" /></div>
					<div class="tab-pane" id="profile"><img src="assets/img/features/rich_features_2.png" class="img-responsive animated" data-duration="900" data-animation="roll3dInLeft" alt="macbook" /></div>
					<div class="tab-pane" id="messages"><img src="assets/img/features/rich_features_3.png" class="img-responsive animated" data-duration="900" data-animation="fadeInRight" alt="macbook" /></div>
				</div>
			</div>
		</div>
	</div>
</section>
