<section id="features-list" class="section features-list-section align-center dark-text <%= css %>">
	<div class="container">
		<div class="clearfix animated" data-duration="500" data-animation="fadeInRight">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<article class="align-center">
					<i class="icon icon-office-44 highlight"></i>
					<span class="heading">FEATURE 1</span>
					<p class="">Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero. </p>
				</article>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<article class="align-center">
					<i class="icon icon-shopping-18 highlight"></i>
					<span class="heading">FEATURE 2</span>
					<p class="">Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero. </p>
				</article>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<article class="align-center">
					<i class="icon icon-seo-icons-27 highlight"></i>
					<span class="heading">FEATURE 3</span>
					<p class="">Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero. </p>
				</article>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<article class="align-center">
					<i class="icon icon-office-24 highlight"></i>
					<span class="heading">FEATURE 4</span>
					<p class="">Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero. </p>
				</article>
			</div>
		</div>
		<div class="clearfix animated" data-duration="500" data-delay="500" data-animation="fadeInLeft">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<article class="align-center">
					<i class="icon icon-graphic-design-13 highlight"></i>
					<span class="heading">FEATURE 5</span>
					<p class="">Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero. </p>
				</article>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<article class="align-center">
					<i class="icon icon-arrows-37 highlight"></i>
					<span class="heading">FEATURE 6</span>
					<p class="">Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero. </p>
				</article>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<article class="align-center">
					<i class="icon icon-badges-votes-14 highlight"></i>
					<span class="heading">FEATURE 7</span>
					<p class="">Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero. </p>
				</article>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<article class="align-center">
					<i class="icon icon-badges-votes-16 highlight"></i>
					<span class="heading">FEATURE 8</span>
					<p class="">Sit amet, consectetur adipiscing elit. In hac divisione rem ipsam prorsus probo elegantiam desidero. </p>
				</article>
			</div>
		</div>
	</div>
</section>
