<section id="feedback" class="section feedback-section align-center light-text <%= css %>">
	<div class="container animated" data-animation="fadeInDown" data-duration="500">
		<div class="section-header">
			<h2>WHAT <span class="highlight">CLIENTS</span> SAY</h2>
		</div>
		<div class="section-content">
			<!-- BEGIN SLIDER CONTENT -->
			<div class="col-sm-10 col-sm-offset-1">
				<div class="flexslider testimonials-slider align-center">
					<ul class="slides">
						<li>
							<div class="testimonial align-center clearfix">
								<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non bibendum metus. Aenean vel rutrum velit. Duis aliquet augue non augue volutpat, ut viverra est sagittis. Duis elementum mi mauris, nec rhoncus dolor consectetur vitae lorem ipsum.</blockquote>
							</div>
						</li>
						<li>
							<div class="testimonial align-center clearfix">
								<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non bibendum metus. Aenean vel rutrum velit. Duis aliquet augue non augue volutpat, ut viverra est sagittis. Duis elementum mi mauris, nec rhoncus dolor consectetur vitae lorem ipsum.</blockquote>
							</div>
						</li>
						<li>
							<div class="testimonial align-center clearfix">
								<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non bibendum metus. Aenean vel rutrum velit. Duis aliquet augue non augue volutpat, ut viverra est sagittis. Duis elementum mi mauris, nec rhoncus dolor consectetur vitae lorem ipsum.</blockquote>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- END SLIDER -->
		</div>
	</div>
</section>
