<section id="team" class="section team-section align-center dark-text  <%= css %>">
	<div class="container">
		<div class="section-header">
			<h2>BEHIND <span class="highlight">THE</span> SCENES</h2>
			<p class="sub-header">
				Lorem ipsum dolor sit atmet sit dolor greand fdanrh s
				<br>dfs sit atmet sit dolor greand fdanrh sdfs
			</p>
			<p>In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. Sed virtutem ipsam inchoavit, nihil<br/> ampliusuma. Scien tiam pollicentur, quam non erat mirum sapientiae lorem cupido patria esse cariorem. Quae<br/> qui non vident, nihilamane umquam magnum ac cognitione. In his rest gestiret. Sed ipsam inchoavit, nihil ampliusuma.<br/> Scien tiam pollicentur, quam non erat mirum sapientiae lorem cupido patria esse cariorem. Quae qui non vident,<br/> nihilamane umquam magnum ac cognitione.</p>
		</div>
		<div class="section-content row">
			<div class="col-md-3 col-sm-3 col-xs-6 animated" data-animation="fadeInDown" data-duration="500">
				<div class="team-member">
					<div class="photo-wrapper">
						<div class="overlay-wrapper">
							<img src="assets/img/people/team-1.jpg" alt="">
							<div class="overlay-content">
								<div class="text-wrapper">
									<div class="text-container">
										<p>Mike has worked with CARE USA, for 12 years holding positions such as Deputy Country Director to Director of Programs and Information Systems.</p>
									</div>
								</div>
								<ul class="socials-block">
									<li><a href="#" class="email" title="Email"><i class="fa fa-envelope-o"></i></a></li>
									<li><a href="#" class="twitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="facebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="skype" title="Skype"><i class="fa fa-skype"></i></a></li>
									<li><a href="#" class="linked_in" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h5 class="name">Mike Bolder</h5>
					<p class="position">Developer</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-6 animated" data-animation="fadeInUp" data-delay="200" data-duration="500">
				<div class="team-member">
					<div class="photo-wrapper">
						<div class="overlay-wrapper">
							<img src="assets/img/people/team-2.jpg" alt="">
							<div class="overlay-content">
								<div class="text-wrapper">
									<div class="text-container">
										<p>Mike has worked with CARE USA, for 12 years holding positions such as Deputy Country Director to Director of Programs and Information Systems.</p>
									</div>
								</div>
								<ul class="socials-block align-center">
									<li><a href="#" class="skype" title="Skype"><i class="fa fa-skype"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h5 class="name">Mike Bolder</h5>
					<p class="position">Developer</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-6 animated" data-animation="fadeInDown" data-delay="400" data-duration="500">
				<div class="team-member">
					<div class="photo-wrapper">
						<div class="overlay-wrapper">
							<img src="assets/img/people/team-3.jpg" alt="">
							<div class="overlay-content">
								<div class="text-wrapper">
									<div class="text-container">
										<p>Ellen has over 13 years of experience in development projects as a senior consultant and project manager in the areas of project management, fund and board development, strategic & financial planning, monitoring & evaluation.</p>
									</div>
								</div>
								<ul class="socials-block align-center">
									<li><a href="#" class="email" title="Email"><i class="fa fa-envelope-o"></i></a></li>
									<li><a href="#" class="twitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h5 class="name">Mike Bolder</h5>
					<p class="position">Developer</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-6 animated" data-animation="fadeInUp" data-delay="600" data-duration="500">
				<div class="team-member">
					<div class="photo-wrapper">
						<div class="overlay-wrapper">
							<img src="assets/img/people/team-4.jpg" alt="">
							<div class="overlay-content">
								<div class="text-wrapper">
									<div class="text-container">
										<p>Mike has worked with CARE USA for 12 years.</p>
									</div>
								</div>
								<ul class="socials-block">
									<li><a href="#" class="email" title="Email"><i class="fa fa-envelope-o"></i></a></li>
									<li><a href="#" class="twitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="facebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="skype" title="Skype"><i class="fa fa-skype"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h5 class="name">Mike Bolder</h5>
					<p class="position">Developer</p>
				</div>
			</div>
		</div>
	</div>
</section>
