<section id="guarantee" class="long-block guarantee-section align-center light-text <%= css %>">
	<div class="container">
		<div class="col-md-12 col-lg-9 highlight">
			<i class="icon icon-seo-icons-24 pull-left"></i>
			<article class="pull-left">
				<h2>LAUNCH YOUR STARTUP NOW!</h2>
				<p class="thin">In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret.</p>
			</article>
		</div>

		<div class="col-md-12 col-lg-3">
			<a href="http://themeforest.net/item/startuply-responsive-multipurpose-landing-page/7953388" class="btn btn-outline-color" style="margin-top: 7px;">Get this template</a>
		</div>
	</div>
</section>
