<footer id="footer" class="footer light-text <%= css %>">
	<div class="container">
		<div class="footer-content row">
			<div class="col-sm-4 col-xs-12">
				<div class="logo-wrapper">
					<img width="130" height="31" src="assets/img/logo-white.png" alt="logo" />
				</div>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco. Qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Nisi ut aliquid ex ea commodi consequatur?</p>
				<p><strong>John Doeson, Founder</strong>.</p>
			</div>
			<div class="col-sm-5 social-wrap col-xs-12">
				<strong class="heading">Social Networks</strong>
				<ul class="list-inline socials">
					<li><a href="#"><span class="icon icon-socialmedia-08"></span></a></li>
					<li><a href="#"><span class="icon icon-socialmedia-09"></span></a></li>
					<li><a href="#"><span class="icon icon-socialmedia-16"></span></a></li>
					<li><a href="#"><span class="icon icon-socialmedia-04"></span></a></li>
				</ul>
				<ul class="list-inline socials">
					<li><a href="#"><span class="icon icon-socialmedia-07"></span></a></li>
					<li><a href="#"><span class="icon icon-socialmedia-16"></span></a></li>
					<li><a href="#"><span class="icon icon-socialmedia-09"></span></a></li>
					<li><a href="#"><span class="icon icon-socialmedia-08"></span></a></li>
				</ul>
			</div>
			<div class="col-sm-3 col-xs-12">
				<strong class="heading">Our Contacts</strong>
				<ul class="list-unstyled">
					<li><span class="icon icon-chat-messages-14"></span><a href="mailto:info@startup.ly">info@startup.ly</a></li>
					<li><span class="icon icon-seo-icons-34"></span>2901 Marmora road, Glassgow, Seattle, WA 98122-1090</li>
					<li><span class="icon icon-seo-icons-17"></span>1 - 234-456-7980</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright">startup.ly 2014. All rights reserved.</div>
</footer>
