<section id="features" class="long-block guarantee-section align-center light-text <%= css %>">
  <div class="container material-slider material-container" data-snap-ignore="true">
    <div class="material-slider-item">
      <img src="http://www.linyartec.com/wp-content/uploads/2015/05/card-power-bank-feature-374x211.jpg" alt="img">
      <h4 class="center-text">Built with you in mind!</h4>
      <em class="center-text small-heading color-red-dark">Easy, accessible, documented properly!</em>
      <p class="center-text no-bottom">
        Coded to make it easy to edit, easy to modify and easy to convert
        to anything you want or just use it as a simple site template!
      </p>
    </div>
    <div class="material-slider-item">
      <img src="http://www.linyartec.com/wp-content/uploads/2015/05/card-power-bank-feature-374x211.jpg" alt="img">
      <h4 class="center-text">Mobile & Tablet</h4>
      <em class="center-text small-heading color-red-dark">From mobiles to phablets to large tablets!</em>
      <p class="center-text no-bottom">
        Our products are tested, designed, and built to make them look
        gorgeous on all mobile devices without sacrificing features!
      </p>
    </div>
    <div class="material-slider-item">
      <img src="http://www.linyartec.com/wp-content/uploads/2015/05/card-power-bank-feature-374x211.jpg" alt="img">
      <h4 class="center-text">PhoneGap & Cordova</h4>
      <em class="center-text small-heading color-red-dark">Conversting is up to you, we made it easy!</em>
      <p class="center-text no-bottom">
        Our framewokr is ready built to be converted to PhoneGap and Cordova,
        coded to the latest standards to make your conversion easy!
      </p>
    </div>
  </div>
</section>
